# Walmart Sales Prediction

In [1]:
import pandas as pd
import numpy as np

events_holidays_df = pd.read_excel('../data/Events_HolidaysData.xlsx')
macro_economic_df = pd.read_excel('../data//macro_economic.xlsx')
weather_df = pd.read_excel('../data/WeatherData.xlsx')
train_df = pd.read_csv('../data/train.csv')
submission = pd.read_csv('../data/submission.csv')
kaggle_submission = pd.read_csv('../data/Kaggle_Submission_Format.csv')
attributes_description_df = pd.read_excel('../data/attributes_description.xlsx')

In [2]:
events_holidays_df.head()

   Year  MonthDate                       Event      DayCategory
0  2009 2001-01-01              New Year's Day  Federal Holiday
1  2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2  2009 2014-02-01             Valentine's Day            Event
3  2009 2016-02-01             Presidents' Day  Federal Holiday
4  2009 2012-04-01               Easter Sunday            Event

In [3]:
print(events_holidays_df.columns)

Index(['Year', 'MonthDate', 'Event', 'DayCategory'], dtype='object')

In [4]:
macro_economic_df.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

In [5]:
print(macro_economic_df.columns)

Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports'],
      dtype='object')

In [6]:
weather_df.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN

In [7]:
print(weather_df.columns)

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [8]:
train_df.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2009      1   WomenClothing                     1755.0
1  2009      1     MenClothing                      524.0
2  2009      1   OtherClothing                      936.0
3  2009      2   WomenClothing                     1729.0
4  2009      2     MenClothing                      496.0

In [9]:
print(train_df.columns)

Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

In [10]:
submission.head()

   Year  Month ProductCategory  Unnamed: 3  Sales(In ThousandDollars)
0  2014      1   WomenClothing         NaN                        NaN
1  2014      1     MenClothing         NaN                        NaN
2  2014      1   OtherClothing         NaN                        NaN
3  2014      2   WomenClothing         NaN                        NaN
4  2014      2     MenClothing         NaN                        NaN

In [11]:
print(submission.columns)

Index(['Year', 'Month', 'ProductCategory', 'Unnamed: 3',
       'Sales(In ThousandDollars)'],
      dtype='object')

In [12]:
kaggle_submission.head()

   Year  Sales(In ThousandDollars)
0     1                       1000
1     2                       1000
2     3                       1000
3     4                       1000
4     5                       1000

In [13]:
print(kaggle_submission.columns)

Index(['Year', 'Sales(In ThousandDollars)'], dtype='object')

In [14]:
attributes_description_df.head()

,AttributeName,Type,Description
0,Year,temporal,Year
1,Month,temporal,Month
2,ProductCategory,categorical,"Clothing Products category - WomenClothing, Me..."
3,Sales(In ThousandDollars),numeric,Value of the sales or revenue in thousand dollars

In [15]:
print(len(attributes_description_df))

4

In [16]:
print(events_holidays_df.isnull().sum())

Year           0
MonthDate      0
Event          0
DayCategory    0
dtype: int64

In [17]:
print(macro_economic_df.isnull().sum())

Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [18]:
print(weather_df.isnull().sum())

Year                             0
Month                            0
Day                              0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  0
Wind (km/h) avg                  0
Wind (km/h) high                 0
Precip. (mm) sum                 0
WeatherEvent                   225
dtype: int64

In [19]:
print(train_df.isnull().sum())

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

In [20]:
print(submission.isnull().sum())

Year                          0
Month                         0
ProductCategory               0
Unnamed: 3                   36
Sales(In ThousandDollars)    36
dtype: int64

In [21]:
print(kaggle_submission.isnull().sum())

Year                         0
Sales(In ThousandDollars)    0
dtype: int64

In [22]:
weather_df.replace('-', np.nan, inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\3297533204.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weather_df.replace('-', np.nan, inplace=True)

In [23]:
weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\3851009989.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\3851009989.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)

In [24]:
print(weather_df.isnull().sum())

Year                             0
Month                            0
Day                              0
Temp high (°C)                   0
Temp avg (°C)                    0
Temp low (°C)                    0
Dew Point high (°C)              0
Dew Point avg (°C)               0
Dew Point low (°C)               0
Humidity (%) high                0
Humidity (%) avg                 0
Humidity (%) low                 0
Sea Level Press. (hPa) high      0
Sea Level Press. (hPa) avg       0
Sea Level Press. (hPa) low       0
Visibility (km) high             0
Visibility (km) avg              0
Visibility (km) low              0
Wind (km/h) low                  3
Wind (km/h) avg                  3
Wind (km/h) high                 4
Precip. (mm) sum                 0
WeatherEvent                   225
dtype: int64

In [25]:
weather_df.fillna(method='bfill', inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\1073501904.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_df.fillna(method='bfill', inplace=True)

In [26]:
print(weather_df.isnull().sum())

Year                           0
Month                          0
Day                            0
Temp high (°C)                 0
Temp avg (°C)                  0
Temp low (°C)                  0
Dew Point high (°C)            0
Dew Point avg (°C)             0
Dew Point low (°C)             0
Humidity (%) high              0
Humidity (%) avg               0
Humidity (%) low               0
Sea Level Press. (hPa) high    0
Sea Level Press. (hPa) avg     0
Sea Level Press. (hPa) low     0
Visibility (km) high           0
Visibility (km) avg            0
Visibility (km) low            0
Wind (km/h) low                0
Wind (km/h) avg                0
Wind (km/h) high               0
Precip. (mm) sum               0
WeatherEvent                   0
dtype: int64

In [27]:
train_df['Sales(In ThousandDollars)'].fillna(train_df['Sales(In ThousandDollars)'].mean(), inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\1224873921.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['Sales(In ThousandDollars)'].fillna(train_df['Sales(In ThousandDollars)'].mean(), inplace=True)

In [28]:
print(train_df.isnull().sum())

Year                         0
Month                        0
ProductCategory              0
Sales(In ThousandDollars)    0
dtype: int64

In [29]:
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         150 non-null    int64
 1   MonthDate    150 non-null    datetime64[ns]
 2   Event        150 non-null    object
 3   DayCategory  150 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 4.8+ KB

In [30]:
macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', 0, inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\124501910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', 0, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_8888\124501910.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', 0, inplace=True)

In [31]:
macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'] = macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].astype(float)

In [32]:
macro_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 18 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Year-Month                                                         96 non-null     object
 1   Monthly Nominal GDP Index (inMillion$)                             96 non-null     float64
 2   Monthly Real GDP Index (inMillion$)                                96 non-null     float64
 3   CPI                                                                96 non-null     float64
 4   PartyInPower                                                       96 non-null     object
 5   unemployment rate                                                  96 non-null     float64
 6   CommercialBankInterestRateonCreditCardPlans                        96 non-null     float64
 7   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  96 non-null     float64
 8   Earnings or wages  in dollars per hour                             96 non-null     float64
 9   AdvertisingExpenses (in Thousand Dollars)                          96 non-null     float64
 10  Cotton Monthly Price - US cents per Pound(lbs)                     96 non-null     float64
 11  Change(in%)                                                        96 non-null     float64
 12  Average upland planted(million acres)                              96 non-null     float64
 13  Average upland harvested(million acres)                            96 non-null     float64
 14  yieldperharvested acre                                             96 non-null     int64
 15  Production (in  480-lb netweright in million bales)                96 non-null     float64
 16  Mill use  (in  480-lb netweright in million bales)                 96 non-null     float64
 17  Exports                                                            96 non-null     float64
dtypes: float64(15), int64(1), object(2)
memory usage: 13.6+ KB

In [33]:
weather_df['Wind\xa0(km/h) low'] = weather_df['Wind\xa0(km/h) low'].astype(float)
weather_df['Wind\xa0(km/h) high'] = weather_df['Wind\xa0(km/h) high'].astype(float)
weather_df['Wind\xa0(km/h) avg'] = weather_df['Wind\xa0(km/h) avg'].astype(float)
weather_df['Precip.\xa0(mm) sum'] = weather_df['Precip.\xa0(mm) sum'].astype(float)

In [34]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         365 non-null    int64
 1   Month                        365 non-null    object
 2   Day                          365 non-null    int64
 3   Temp high (°C)               365 non-null    int64
 4   Temp avg (°C)                365 non-null    int64
 5   Temp low (°C)                365 non-null    int64
 6   Dew Point high (°C)          365 non-null    int64
 7   Dew Point avg (°C)           365 non-null    int64
 8   Dew Point low (°C)           365 non-null    int64
 9   Humidity (%) high            365 non-null    int64
 10  Humidity (%) avg             365 non-null    int64
 11  Humidity (%) low             365 non-null    int64
 12  Sea Level Press. (hPa) high  365 non-null    int64
 13  Sea Level Press. (hPa) avg   365 non-null    int64
 14  Sea Level Press. (hPa) low   365 non-null    int64
 15  Visibility (km) high         365 non-null    int64
 16  Visibility (km) avg          365 non-null    int64
 17  Visibility (km) low          365 non-null    int64
 18  Wind (km/h) low              365 non-null    float64
 19  Wind (km/h) avg              365 non-null    float64
 20  Wind (km/h) high             365 non-null    float64
 21  Precip. (mm) sum             365 non-null    float64
 22  WeatherEvent                 365 non-null    object
dtypes: float64(4), int64(17), object(2)
memory usage: 65.7+ KB

In [35]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       180 non-null    int64
 1   Month                      180 non-null    int64
 2   ProductCategory            180 non-null    object
 3   Sales(In ThousandDollars)  180 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.8+ KB

In [36]:
print(len(events_holidays_df))

150

In [37]:
events_holidays_df.rename(columns={'MonthDate': 'Month'}, inplace=True)
events_holidays_df['Month'] = events_holidays_df['Month'].astype(str)
events_holidays_df['Month'] = events_holidays_df['Month'].str.split('-', expand=True)[1]

In [38]:
print(events_holidays_df.columns)

Index(['Year', 'Month', 'Event', 'DayCategory'], dtype='object')

In [39]:
events_holidays_df['Event'] = events_holidays_df.groupby(['Year', 'Month'])['Event'].transform(lambda x: ', '.join(x))
events_holidays_df['DayCategory'] = events_holidays_df.groupby(['Year', 'Month'])['DayCategory'].transform(lambda x: ', '.join(x))

In [40]:
events_holidays_df = events_holidays_df.drop_duplicates()

In [41]:
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 146
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         81 non-null     int64
 1   Month        81 non-null     object
 2   Event        81 non-null     object
 3   DayCategory  81 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.2+ KB

In [42]:
month_dict = {
        '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May',
        '06': 'Jun', '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct',
        '11': 'Nov', '12': 'Dec'
    }

events_holidays_df.replace({'Month': month_dict}, inplace=True)

In [43]:
events_holidays_df.head()

,Year,Month,Event,DayCategory
0,2009,Jan,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
2,2009,Feb,"Valentine's Day, Presidents' Day","Event, Federal Holiday"
4,2009,Apr,Easter Sunday,Event
5,2009,May,"Mother's Day, Memorial Day","Event, Federal Holiday"
7,2009,Jun,Father's Day,Event

In [44]:
events_holidays_df.reset_index(drop=True, inplace=True)

In [45]:
print(events_holidays_df.duplicated().sum())

0

In [46]:
print(len(train_df))

180

In [47]:
print(train_df.columns)

Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)'], dtype='object')

In [48]:
month_dict2 = {
        '1': 'Jan', '2': 'Feb', '3': 'Mar', '4': 'Apr', '5': 'May',
        '6': 'Jun', '7': 'Jul', '8': 'Aug', '9': 'Sep', '10': 'Oct',
        '11': 'Nov', '12': 'Dec'
    }

train_df['Month'] = train_df['Month'].astype(str)

train_df.replace({'Month': month_dict2}, inplace=True)

In [49]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       180 non-null    int64
 1   Month                      180 non-null    object
 2   ProductCategory            180 non-null    object
 3   Sales(In ThousandDollars)  180 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.8+ KB

In [50]:
print(train_df.duplicated().sum())

0

In [51]:
train_df.head()

   Year Month ProductCategory  Sales(In ThousandDollars)
0  2009   Jan   WomenClothing                     1755.0
1  2009   Jan     MenClothing                      524.0
2  2009   Jan   OtherClothing                      936.0
3  2009   Feb   WomenClothing                     1729.0
4  2009   Feb     MenClothing                      496.0

In [52]:
print(len(macro_economic_df))

96

In [53]:
macro_economic_df['Year'] = macro_economic_df['Year-Month'].str.split('-', expand=True)[0]
macro_economic_df['Month'] = macro_economic_df['Year-Month'].str.split('-', expand=True)[1]

In [54]:
print(macro_economic_df.columns)

Index(['Year-Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports', 'Year',
       'Month'],
      dtype='object')

In [55]:
macro_economic_df['Year'] = macro_economic_df['Year'].astype(int)

In [56]:
macro_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 20 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Year-Month                                                         96 non-null     object
 1   Monthly Nominal GDP Index (inMillion$)                             96 non-null     float64
 2   Monthly Real GDP Index (inMillion$)                                96 non-null     float64
 3   CPI                                                                96 non-null     float64
 4   PartyInPower                                                       96 non-null     object
 5   unemployment rate                                                  96 non-null     float64
 6   CommercialBankInterestRateonCreditCardPlans                        96 non-null     float64
 7   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  96 non-null     float64
 8   Earnings or wages  in dollars per hour                             96 non-null     float64
 9   AdvertisingExpenses (in Thousand Dollars)                          96 non-null     float64
 10  Cotton Monthly Price - US cents per Pound(lbs)                     96 non-null     float64
 11  Change(in%)                                                        96 non-null     float64
 12  Average upland planted(million acres)                              96 non-null     float64
 13  Average upland harvested(million acres)                            96 non-null     float64
 14  yieldperharvested acre                                             96 non-null     int64
 15  Production (in  480-lb netweright in million bales)                96 non-null     float64
 16  Mill use  (in  480-lb netweright in million bales)                 96 non-null     float64
 17  Exports                                                            96 non-null     float64
 18  Year                                                               96 non-null     int32
 19  Month                                                              96 non-null     object
dtypes: float64(15), int32(1), int64(1), object(3)
memory usage: 14.8+ KB

In [57]:
print(macro_economic_df.duplicated().sum())

0

In [58]:
macro_economic_df.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137.0,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,Jan
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200.0,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,Feb
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,0.0,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,Mar
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214.0,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,Apr
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,0.0,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,May

In [59]:
print(len(weather_df))

365

In [60]:
print(weather_df.columns)

Index(['Year', 'Month', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'WeatherEvent'],
      dtype='object')

In [61]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         365 non-null    int64
 1   Month                        365 non-null    object
 2   Day                          365 non-null    int64
 3   Temp high (°C)               365 non-null    int64
 4   Temp avg (°C)                365 non-null    int64
 5   Temp low (°C)                365 non-null    int64
 6   Dew Point high (°C)          365 non-null    int64
 7   Dew Point avg (°C)           365 non-null    int64
 8   Dew Point low (°C)           365 non-null    int64
 9   Humidity (%) high            365 non-null    int64
 10  Humidity (%) avg             365 non-null    int64
 11  Humidity (%) low             365 non-null    int64
 12  Sea Level Press. (hPa) high  365 non-null    int64
 13  Sea Level Press. (hPa) avg   365 non-null    int64
 14  Sea Level Press. (hPa) low   365 non-null    int64
 15  Visibility (km) high         365 non-null    int64
 16  Visibility (km) avg          365 non-null    int64
 17  Visibility (km) low          365 non-null    int64
 18  Wind (km/h) low              365 non-null    float64
 19  Wind (km/h) avg              365 non-null    float64
 20  Wind (km/h) high             365 non-null    float64
 21  Precip. (mm) sum             365 non-null    float64
 22  WeatherEvent                 365 non-null    object
dtypes: float64(4), int64(17), object(2)
memory usage: 65.7+ KB

In [62]:
print(weather_df.duplicated().sum())

0

In [63]:
weather_df['Year'] = weather_df['Year'].astype(str)

weather_df['Year-Month'] = weather_df['Year'] + '-' + weather_df['Month']
categorical_columns = ['WeatherEvent', 'Year', 'Month']
weather_cat_df = weather_df.groupby('Year-Month')[categorical_columns].agg(lambda x: pd.Series.mode(x)[0])
weather_num_df = weather_df.drop(columns=categorical_columns).groupby('Year-Month').mean()
weather_monthly_df = pd.concat([weather_cat_df, weather_num_df], axis=1)

weather_monthly_df.reset_index(inplace=True)

weather_monthly_df.drop(columns='Year-Month', inplace=True)
weather_monthly_df['Year'] = weather_monthly_df['Year'].astype(int)

In [64]:
weather_monthly_df.head()

,WeatherEvent,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),...,Sea Level Press. (hPa) high,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum
0,Rain,2009,Apr,15.5,17.100000,12.733333,7.833333,6.233333,2.533333,-1.200000,...,1018.833333,1014.533333,1010.433333,15.9,14.066667,10.866667,27.300000,11.366667,39.566667,3.970667
1,Rain,2009,Aug,16.0,27.967742,24.387097,20.548387,20.451613,18.483871,16.129032,...,1018.225806,1015.967742,1013.387097,16.0,14.483871,9.903226,19.290323,6.806452,28.064516,3.465806
2,Rain,2009,Dec,16.0,5.451613,2.354839,-1.032258,-0.935484,-4.677419,-8.709677,...,1022.483871,1017.225806,1012.193548,16.0,13.774194,10.677419,28.580645,13.451613,42.838710,5.956452
3,Rain,2009,Feb,14.5,6.964286,2.785714,-1.642857,-2.464286,-6.392857,-10.571429,...,1021.714286,1017.071429,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357
4,"Fog , Rain , Snow",2009,Jan,16.0,0.741935,-2.096774,-5.322581,-6.096774,-9.903226,-14.000000,...,1021.290323,1015.967742,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935

In [74]:
macro_economic_df.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137.0,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,Jan
1,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200.0,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,Feb
2,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,0.0,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,Mar
3,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214.0,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,Apr
4,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,0.0,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,May

In [65]:
macro_economic_df.drop(columns='Year-Month', inplace=True)

In [66]:
train_macro_df = pd.merge(train_df, macro_economic_df, left_on=['Year', 'Month'], right_on=['Year', 'Month'], how='left')
train_macro_weather_df = pd.merge(train_macro_df, weather_monthly_df, left_on=['Year', 'Month'], right_on=['Year', 'Month'], how='left')
final_train_df = pd.merge(train_macro_weather_df, events_holidays_df, left_on=['Year', 'Month'], right_on=['Year', 'Month'], how='left')

In [67]:
final_train_df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,Event,DayCategory
0,2009,Jan,WomenClothing,1755.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
1,2009,Jan,MenClothing,524.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
2,2009,Jan,OtherClothing,936.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
3,2009,Feb,WomenClothing,1729.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357,"Valentine's Day, Presidents' Day","Event, Federal Holiday"
4,2009,Feb,MenClothing,496.0,NaN,NaN,NaN,NaN,NaN,NaN,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357,"Valentine's Day, Presidents' Day","Event, Federal Holiday"

In [68]:
print(len(final_train_df))

180

In [69]:
print(final_train_df.columns)

Index(['Year', 'Month', 'ProductCategory', 'Sales(In ThousandDollars)',
       'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower',
       'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'AdvertisingExpenses (in Thousand Dollars)',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'WeatherEvent', 'Day', 'Temp high (°C)', 'Temp avg (°C)',
       'Temp low (°C)', 'Dew Point high (°C)', 'Dew Point avg (°C)',
       'Dew Point low (°C)', 'Humidity (%) high', 'Humidity (%) avg',
       'Humidity (%) low', 'Sea Level Press. (hPa) high',
       'Sea Level Press. (hPa) avg', 'Sea Level Press. (hPa) low',
       'Visibility (km) high', 'Visibility (km) avg', 'Visibility (km) low',
       'Wind (km/h) low', 'Wind (km/h) avg', 'Wind (km/h) high',
       'Precip. (mm) sum', 'Event', 'DayCategory'],
      dtype='object')

In [70]:
final_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 44 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Year                                                               180 non-null    int64
 1   Month                                                              180 non-null    object
 2   ProductCategory                                                    180 non-null    object
 3   Sales(In ThousandDollars)                                          180 non-null    float64
 4   Monthly Nominal GDP Index (inMillion$)                             0 non-null      float64
 5   Monthly Real GDP Index (inMillion$)                                0 non-null      float64
 6   CPI                                                                0 non-null      float64
 7   PartyInPower                                                       0 non-null      object
 8   unemployment rate                                                  0 non-null      float64
 9   CommercialBankInterestRateonCreditCardPlans                        0 non-null      float64
 10  Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  0 non-null      float64
 11  Earnings or wages  in dollars per hour                             0 non-null      float64
 12  AdvertisingExpenses (in Thousand Dollars)                          0 non-null      float64
 13  Cotton Monthly Price - US cents per Pound(lbs)                     0 non-null      float64
 14  Change(in%)                                                        0 non-null      float64
 15  Average upland planted(million acres)                              0 non-null      float64
 16  Average upland harvested(million acres)                            0 non-null      float64
 17  yieldperharvested acre                                             0 non-null      float64
 18  Production (in  480-lb netweright in million bales)                0 non-null      float64
 19  Mill use  (in  480-lb netweright in million bales)                 0 non-null      float64
 20  Exports                                                            0 non-null      float64
 21  WeatherEvent                                                       36 non-null     object
 22  Day                                                                36 non-null     float64
 23  Temp high (°C)                                                     36 non-null     float64
 24  Temp avg (°C)                                                      36 non-null     float64
 25  Temp low (°C)                                                      36 non-null     float64
 26  Dew Point high (°C)                                                36 non-null     float64
 27  Dew Point avg (°C)                                                 36 non-null     float64
 28  Dew Point low (°C)                                                 36 non-null     float64
 29  Humidity (%) high                                                  36 non-null     float64
 30  Humidity (%) avg                                                   36 non-null     float64
 31  Humidity (%) low                                                   36 non-null     float64
 32  Sea Level Press. (hPa) high                                        36 non-null     float64
 33  Sea Level Press. (hPa) avg                                         36 non-null     float64
 34  Sea Level Press. (hPa) low                                         36 non-null     float64
 35  Visibility (km) high                                               36 non-null     float64
 36  Visibility (km) avg                                                36 non-null     float64
 37  Visibility (km) low                                                36 non-null     float64
 38  Wind (km/h) low                                                    36 non-null     float64
 39  Wind (km/h) avg                                                    36 non-null     float64
 40  Wind (km/h) high                                                   36 non-null     float64
 41  Precip. (mm) sum                                                   36 non-null     float64
 42  Event                                                              150 non-null    object
 43  DayCategory                                                        150 non-null    object
dtypes: float64(37), int64(1), object(6)
memory usage: 62.0+ KB

In [71]:
print(final_train_df.duplicated().sum())

0

In [72]:
print(final_train_df.isnull().sum())

Year                                                                   0
Month                                                                  0
ProductCategory                                                        0
Sales(In ThousandDollars)                                              0
Monthly Nominal GDP Index (inMillion$)                               180
Monthly Real GDP Index (inMillion$)                                  180
CPI                                                                  180
PartyInPower                                                         180
unemployment rate                                                    180
CommercialBankInterestRateonCreditCardPlans                          180
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    180
Earnings or wages  in dollars per hour                               180
AdvertisingExpenses (in Thousand Dollars)                            180
Cotton Monthly Price - US cents per Pound(lbs)                       180
Change(in%)                                                          180
Average upland planted(million acres)                                180
Average upland harvested(million acres)                              180
yieldperharvested acre                                               180
Production (in  480-lb netweright in million bales)                  180
Mill use  (in  480-lb netweright in million bales)                   180
Exports                                                              180
WeatherEvent                                                         144
Day                                                                  144
Temp high (°C)                                                       144
Temp avg (°C)                                                        144
Temp low (°C)                                                        144
Dew Point high (°C)                                                  144
Dew Point avg (°C)                                                   144
Dew Point low (°C)                                                   144
Humidity (%) high                                                    144
Humidity (%) avg                                                     144
Humidity (%) low                                                     144
Sea Level Press. (hPa) high                                          144
Sea Level Press. (hPa) avg                                           144
Sea Level Press. (hPa) low                                           144
Visibility (km) high                                                 144
Visibility (km) avg                                                  144
Visibility (km) low                                                  144
Wind (km/h) low                                                      144
Wind (km/h) avg                                                      144
Wind (km/h) high                                                     144
Precip. (mm) sum                                                     144
Event                                                                 30
DayCategory                                                           30
dtype: int64

In [73]:
final_train_df.drop(['Year-Month','Monthly Nominal GDP Index (inMillion$)', 'Monthly Real GDP Index (inMillion$)', 'CPI', 'PartyInPower', 'unemployment rate', 'CommercialBankInterestRateonCreditCardPlans', 'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan', 'Earnings or wages  in dollars per hour', 'AdvertisingExpenses (in Thousand Dollars)', 'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)', 'Average upland planted(million acres)', 'Average upland harvested(million acres)', 'yieldperharvested acre', 'Production (in  480-lb netweright in million bales)', 'Mill use  (in  480-lb netweright in million bales)', 'Exports'], axis=1, inplace=True)

KeyError: "['Year-Month'] not found in axis"

In [ ]:
print(final_train_df.isnull().sum())

Year                             0
Month                            0
ProductCategory                  0
Sales(In ThousandDollars)        0
WeatherEvent                   144
Day                            144
Temp high (°C)                 144
Temp avg (°C)                  144
Temp low (°C)                  144
Dew Point high (°C)            144
Dew Point avg (°C)             144
Dew Point low (°C)             144
Humidity (%) high              144
Humidity (%) avg               144
Humidity (%) low               144
Sea Level Press. (hPa) high    144
Sea Level Press. (hPa) avg     144
Sea Level Press. (hPa) low     144
Visibility (km) high           144
Visibility (km) avg            144
Visibility (km) low            144
Wind (km/h) low                144
Wind (km/h) avg                144
Wind (km/h) high               144
Precip. (mm) sum               144
Event                           30
DayCategory                     30
dtype: int64

In [ ]:
final_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         180 non-null    int64
 1   Month                        180 non-null    object
 2   ProductCategory              180 non-null    object
 3   Sales(In ThousandDollars)    180 non-null    float64
 4   WeatherEvent                 36 non-null     object
 5   Day                          36 non-null     float64
 6   Temp high (°C)               36 non-null     float64
 7   Temp avg (°C)                36 non-null     float64
 8   Temp low (°C)                36 non-null     float64
 9   Dew Point high (°C)          36 non-null     float64
 10  Dew Point avg (°C)           36 non-null     float64
 11  Dew Point low (°C)           36 non-null     float64
 12  Humidity (%) high            36 non-null     float64
 13  Humidity (%) avg             36 non-null     float64
 14  Humidity (%) low             36 non-null     float64
 15  Sea Level Press. (hPa) high  36 non-null     float64
 16  Sea Level Press. (hPa) avg   36 non-null     float64
 17  Sea Level Press. (hPa) low   36 non-null     float64
 18  Visibility (km) high         36 non-null     float64
 19  Visibility (km) avg          36 non-null     float64
 20  Visibility (km) low          36 non-null     float64
 21  Wind (km/h) low              36 non-null     float64
 22  Wind (km/h) avg              36 non-null     float64
 23  Wind (km/h) high             36 non-null     float64
 24  Precip. (mm) sum             36 non-null     float64
 25  Event                        150 non-null    object
 26  DayCategory                  150 non-null    object
dtypes: float64(21), int64(1), object(5)
memory usage: 38.1+ KB

In [ ]:
final_train_df.head()

,Year,Month,ProductCategory,Sales(In ThousandDollars),WeatherEvent,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),...,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,Event,DayCategory
0,2009,Jan,WomenClothing,1755.0,"Fog , Rain , Snow",16.0,0.741935,-2.096774,-5.322581,-6.096774,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
1,2009,Jan,MenClothing,524.0,"Fog , Rain , Snow",16.0,0.741935,-2.096774,-5.322581,-6.096774,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
2,2009,Jan,OtherClothing,936.0,"Fog , Rain , Snow",16.0,0.741935,-2.096774,-5.322581,-6.096774,...,1010.516129,16.0,14.000000,11.451613,27.000000,12.000000,39.322581,2.441935,"New Year's Day, Martin Luther King Jr. Day","Federal Holiday, Federal Holiday"
3,2009,Feb,WomenClothing,1729.0,Rain,14.5,6.964286,2.785714,-1.642857,-2.464286,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357,"Valentine's Day, Presidents' Day","Event, Federal Holiday"
4,2009,Feb,MenClothing,496.0,Rain,14.5,6.964286,2.785714,-1.642857,-2.464286,...,1012.464286,16.0,15.178571,13.285714,27.928571,12.214286,41.642857,0.780357,"Valentine's Day, Presidents' Day","Event, Federal Holiday"

In [ ]:
final_train_df.to_csv('final_train.csv', index=False)