# Walmart Sales Prediction

## Importing Libraries

In [61]:
import pandas as pd
import numpy as np

## Data Preparation

### Process Macroeconomic Data

In [62]:
macro_economic_df = pd.read_excel('../data//macro_economic.xlsx')
print(macro_economic_df.isnull().sum())

Year-Month                                                           0
Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
PartyInPower                                                         0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
dtype: int64

In [63]:
macro_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 18 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Year-Month                                                         96 non-null     object
 1   Monthly Nominal GDP Index (inMillion$)                             96 non-null     float64
 2   Monthly Real GDP Index (inMillion$)                                96 non-null     float64
 3   CPI                                                                96 non-null     float64
 4   PartyInPower                                                       96 non-null     object
 5   unemployment rate                                                  96 non-null     float64
 6   CommercialBankInterestRateonCreditCardPlans                        96 non-null     float64
 7   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  96 non-null     float64
 8   Earnings or wages  in dollars per hour                             96 non-null     float64
 9   AdvertisingExpenses (in Thousand Dollars)                          96 non-null     object
 10  Cotton Monthly Price - US cents per Pound(lbs)                     96 non-null     float64
 11  Change(in%)                                                        96 non-null     float64
 12  Average upland planted(million acres)                              96 non-null     float64
 13  Average upland harvested(million acres)                            96 non-null     float64
 14  yieldperharvested acre                                             96 non-null     int64
 15  Production (in  480-lb netweright in million bales)                96 non-null     float64
 16  Mill use  (in  480-lb netweright in million bales)                 96 non-null     float64
 17  Exports                                                            96 non-null     float64
dtypes: float64(14), int64(1), object(3)
memory usage: 13.6+ KB

In [64]:
print(macro_economic_df[pd.to_numeric(macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'], errors='coerce').isnull()])

    Year-Month  Monthly Nominal GDP Index (inMillion$)  \
2   2009 - Mar                            14340.701639
4   2009 - May                            14345.904809
5   2009 - Jun                            14348.530666
6   2009 - Jul                            14317.372922
7   2009 - Aug                            14424.284901
..         ...                                     ...
91  2016 - Aug                            18741.599947
92  2016 - Sep                            18840.309646
93  2016 - Oct                            18740.780023
94  2016 - Nov                            18960.461568
95  2016 - Dec                            19015.393408

    Monthly Real GDP Index (inMillion$)      CPI PartyInPower  \
2                          14351.786822  235.067    Democrats
4                          14368.123959  235.975    Democrats
5                          14346.820106  237.172    Democrats
6                          14345.676097  237.600    Democrats
7                          14435.812509  238.282    Democrats
..                                  ...      ...          ...
91                         16797.206610  264.160    Democrats
92                         16852.562745  264.602    Democrats
93                         16725.460098  264.738    Democrats
94                         16910.896330  265.203    Democrats
95                         16918.050624  265.421    Democrats

    unemployment rate  CommercialBankInterestRateonCreditCardPlans  \
2                 8.7                                        12.97
4                 9.4                                        13.32
5                 9.5                                        13.32
6                 9.5                                        13.32
7                 9.6                                        13.71
..                ...                                          ...
91                4.9                                        12.51
92                4.9                                        12.51
93                4.8                                        12.51
94                4.6                                        12.41
95                4.7                                        12.41

    Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  \
2                                               11.05
4                                               11.25
5                                               11.25
6                                               11.25
7                                               10.89
..                                                ...
91                                               9.64
92                                               9.64
93                                               9.64
94                                               9.45
95                                               9.45

    Earnings or wages  in dollars per hour  \
2                                    22.22
4                                    22.04
5                                    21.96
6                                    22.00
7                                    22.16
..                                     ...
91                                   25.52
92                                   25.74
93                                   26.04
94                                   25.87
95                                   25.90

   AdvertisingExpenses (in Thousand Dollars)  \
2                                          ?
4                                          ?
5                                          ?
6                                          ?
7                                          ?
..                                       ...
91                                         ?
92                                         ?
93                                         ?
94                                         ?
95                                         ?

    Cotton Monthly Price - US cents per Pound(lbs)  Change(in%)  \
2                                            51.50        -6.72
4                                            61.95         9.11
5                                            61.39        -0.90
6                                            64.80         5.55
7                                            64.26        -0.83
..                                             ...          ...
91                                           80.26        -0.99
92                                           77.86        -2.99
93                                           78.52         0.85
94                                           78.92         0.51
95                                           79.50         0.73

    Average upland planted(million acres)  \
2                                   9.296
4                                   9.297
5                                   8.668
6                                   8.905
7                                   8.905
..                                    ...
91                                  9.824
92                                  9.950
93                                  9.950
94                                  9.950
95                                  9.950

    Average upland harvested(million acres)  yieldperharvested acre  \
2                                     7.559                     799
4                                     7.400                     803
5                                     7.760                     796
6                                     7.753                     796
7                                     7.619                     809
..                                      ...                     ...
91                                    9.340                     787
92                                    9.464                     790
93                                    9.464                     785
94                                    9.464                     791
95                                    9.464                     810

    Production (in  480-lb netweright in million bales)  \
2                                              12.589
4                                              12.384
5                                              12.876
6                                              12.863
7                                              12.840
..                                                ...
91                                             15.314
92                                             15.580
93                                             15.472
94                                             15.600
95                                             15.962

    Mill use  (in  480-lb netweright in million bales)  Exports
2                                               3.720    11.650
4                                               3.520    12.300
5                                               3.470    10.300
6                                               3.470     9.700
7                                               3.470     9.700
..                                                ...       ...
91                                              3.575    10.950
92                                              3.475    10.950
93                                              3.475    11.425
94                                              3.475    11.425
95                                              3.275    11.600

[85 rows x 18 columns]

In [65]:
print(macro_economic_df['PartyInPower'].value_counts())

PartyInPower
Democrats    96
Name: count, dtype: int64

In [66]:
macro_economic_df.drop(columns=['PartyInPower'], inplace=True)

In [67]:
macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', np.nan, inplace=True)
macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'] = macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].astype(float)
macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].fillna(macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].median(), inplace=True)
macro_economic_df['Year'] = macro_economic_df['Year-Month'].str.split('-', expand=True)[0]
macro_economic_df['Month'] = macro_economic_df['Year-Month'].str.split('-', expand=True)[1]
macro_economic_df = macro_economic_df.drop(['Year-Month'], axis=1)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\943181558.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', np.nan, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\943181558.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].replace('?', np.nan, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\943181558.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].fillna(macro_economic_df['AdvertisingExpenses (in Thousand Dollars)'].median(), inplace=True)

### Process Weather Data

In [68]:
def load_all_sheets():
    path = '../data/WeatherData.xlsx'
    all_sheets_df = pd.read_excel(path, sheet_name=None)

    wth_df = pd.DataFrame()

    for year, temp_df in all_sheets_df.items():
        temp_df['Year-Month'] = year + " - " + temp_df['Month']
        wth_df = pd.concat([wth_df, temp_df])

    return wth_df

weather_df = load_all_sheets()

In [69]:
weather_df.replace('-', np.nan, inplace=True)
weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)
weather_df.fillna(method='bfill', inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\1668807780.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weather_df.replace('-', np.nan, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\1668807780.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\1668807780.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  weather_df['Precip.\xa0(mm) sum'].replace('T', 0, inplace=True)
C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\1668807780.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  weather_df.fillna(method='bfill', inplace=True)

In [70]:
weather_df['Wind\xa0(km/h) low'] = weather_df['Wind\xa0(km/h) low'].astype(float)
weather_df['Wind\xa0(km/h) high'] = weather_df['Wind\xa0(km/h) high'].astype(float)
weather_df['Wind\xa0(km/h) avg'] = weather_df['Wind\xa0(km/h) avg'].astype(float)
weather_df['Precip.\xa0(mm) sum'] = weather_df['Precip.\xa0(mm) sum'].astype(float)

In [71]:
weather_df.to_csv('../data/clean_data/weather_df.csv')

### Process Events and Holidays Data

In [72]:
events_holidays_df = pd.read_excel('../data/Events_HolidaysData.xlsx')
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         150 non-null    int64
 1   MonthDate    150 non-null    datetime64[ns]
 2   Event        150 non-null    object
 3   DayCategory  150 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 4.8+ KB

In [73]:
events_holidays_df.rename(columns={'MonthDate': 'Month'}, inplace=True)
events_holidays_df['Month'] = events_holidays_df['Month'].astype(str)
events_holidays_df['Month'] = events_holidays_df['Month'].str.split('-', expand=True)[1]

In [74]:
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         150 non-null    int64
 1   Month        150 non-null    object
 2   Event        150 non-null    object
 3   DayCategory  150 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.8+ KB

In [75]:
month_dict = {
        '01': 'Jan', '02': 'Feb', '03': 'Mar', '04': 'Apr', '05': 'May',
        '06': 'Jun', '07': 'Jul', '08': 'Aug', '09': 'Sep', '10': 'Oct',
        '11': 'Nov', '12': 'Dec'
    }

events_holidays_df.replace({'Month': month_dict}, inplace=True)

In [76]:
events_holidays_df['HolidayCount'] = events_holidays_df.groupby(['Year', 'Month'])['Event'].transform('count')
events_holidays_df = events_holidays_df.drop(['Event', 'DayCategory'], axis=1)
events_holidays_df = events_holidays_df.drop_duplicates()

In [77]:
events_holidays_df.to_csv('../data/clean_data/events_holidays.csv')

In [78]:
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 146
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          81 non-null     int64
 1   Month         81 non-null     object
 2   HolidayCount  81 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

### Process Train Data

In [79]:
train_df = pd.read_csv('../data/train.csv')

In [80]:
month_dict2 = {
        '1': 'Jan', '2': 'Feb', '3': 'Mar', '4': 'Apr', '5': 'May',
        '6': 'Jun', '7': 'Jul', '8': 'Aug', '9': 'Sep', '10': 'Oct',
        '11': 'Nov', '12': 'Dec'
    }

train_df['Month'] = train_df['Month'].astype(str)

train_df.replace({'Month': month_dict2}, inplace=True)

In [81]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       180 non-null    int64
 1   Month                      180 non-null    object
 2   ProductCategory            180 non-null    object
 3   Sales(In ThousandDollars)  170 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.8+ KB

In [82]:
print(train_df.isnull().sum())

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

In [83]:
train_df.fillna(method='ffill', inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\3807834153.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  train_df.fillna(method='ffill', inplace=True)

### Merge Data

In [84]:
macro_economic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 18 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Monthly Nominal GDP Index (inMillion$)                             96 non-null     float64
 1   Monthly Real GDP Index (inMillion$)                                96 non-null     float64
 2   CPI                                                                96 non-null     float64
 3   unemployment rate                                                  96 non-null     float64
 4   CommercialBankInterestRateonCreditCardPlans                        96 non-null     float64
 5   Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan  96 non-null     float64
 6   Earnings or wages  in dollars per hour                             96 non-null     float64
 7   AdvertisingExpenses (in Thousand Dollars)                          96 non-null     float64
 8   Cotton Monthly Price - US cents per Pound(lbs)                     96 non-null     float64
 9   Change(in%)                                                        96 non-null     float64
 10  Average upland planted(million acres)                              96 non-null     float64
 11  Average upland harvested(million acres)                            96 non-null     float64
 12  yieldperharvested acre                                             96 non-null     int64
 13  Production (in  480-lb netweright in million bales)                96 non-null     float64
 14  Mill use  (in  480-lb netweright in million bales)                 96 non-null     float64
 15  Exports                                                            96 non-null     float64
 16  Year                                                               96 non-null     object
 17  Month                                                              96 non-null     object
dtypes: float64(15), int64(1), object(2)
memory usage: 13.6+ KB

In [85]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2921 entries, 0 to 365
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         2921 non-null   int64
 1   Month                        2921 non-null   object
 2   Day                          2921 non-null   int64
 3   Temp high (°C)               2921 non-null   float64
 4   Temp avg (°C)                2921 non-null   float64
 5   Temp low (°C)                2921 non-null   float64
 6   Dew Point high (°C)          2921 non-null   float64
 7   Dew Point avg (°C)           2921 non-null   float64
 8   Dew Point low (°C)           2921 non-null   float64
 9   Humidity (%) high            2921 non-null   float64
 10  Humidity (%) avg             2921 non-null   float64
 11  Humidity (%) low             2921 non-null   float64
 12  Sea Level Press. (hPa) high  2921 non-null   float64
 13  Sea Level Press. (hPa) avg   2921 non-null   float64
 14  Sea Level Press. (hPa) low   2921 non-null   float64
 15  Visibility (km) high         2921 non-null   float64
 16  Visibility (km) avg          2921 non-null   float64
 17  Visibility (km) low          2921 non-null   float64
 18  Wind (km/h) low              2921 non-null   float64
 19  Wind (km/h) avg              2921 non-null   float64
 20  Wind (km/h) high             2921 non-null   float64
 21  Precip. (mm) sum             2921 non-null   float64
 22  WeatherEvent                 2920 non-null   object
 23  Year-Month                   2921 non-null   object
dtypes: float64(19), int64(2), object(3)
memory usage: 570.5+ KB

In [86]:
events_holidays_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 0 to 146
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          81 non-null     int64
 1   Month         81 non-null     object
 2   HolidayCount  81 non-null     int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

In [87]:
macro_economic_df['Year'] = macro_economic_df['Year'].astype(str)
macro_economic_df['Month'] = macro_economic_df['Month'].astype(str)
weather_df['Year'] = weather_df['Year'].astype(str)
weather_df['Month'] = weather_df['Month'].astype(str)
events_holidays_df['Year'] = events_holidays_df['Year'].astype(str)
events_holidays_df['Month'] = events_holidays_df['Month'].astype(str)
train_df['Year'] = train_df['Year'].astype(str)
train_df['Month'] = train_df['Month'].astype(str)

In [88]:
merged_df1 = pd.merge(macro_economic_df, events_holidays_df, on=['Year', 'Month'], how='outer')
merged_df2 = pd.merge(merged_df1, weather_df, on=['Year', 'Month'], how='outer')
merged_df = pd.merge(merged_df2, train_df, on=['Year', 'Month'], how='outer')

In [89]:
merged_df.fillna(method='bfill', inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\2415298477.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_df.fillna(method='bfill', inplace=True)

In [90]:
merged_df.fillna(method='ffill', inplace=True)

C:\Users\abraham.shimelis\AppData\Local\Temp\ipykernel_11784\1302505969.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_df.fillna(method='ffill', inplace=True)

In [91]:
print(merged_df.isnull().sum())

Monthly Nominal GDP Index (inMillion$)                               0
Monthly Real GDP Index (inMillion$)                                  0
CPI                                                                  0
unemployment rate                                                    0
CommercialBankInterestRateonCreditCardPlans                          0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan    0
Earnings or wages  in dollars per hour                               0
AdvertisingExpenses (in Thousand Dollars)                            0
Cotton Monthly Price - US cents per Pound(lbs)                       0
Change(in%)                                                          0
Average upland planted(million acres)                                0
Average upland harvested(million acres)                              0
yieldperharvested acre                                               0
Production (in  480-lb netweright in million bales)                  0
Mill use  (in  480-lb netweright in million bales)                   0
Exports                                                              0
Year                                                                 0
Month                                                                0
HolidayCount                                                         0
Day                                                                  0
Temp high (°C)                                                       0
Temp avg (°C)                                                        0
Temp low (°C)                                                        0
Dew Point high (°C)                                                  0
Dew Point avg (°C)                                                   0
Dew Point low (°C)                                                   0
Humidity (%) high                                                    0
Humidity (%) avg                                                     0
Humidity (%) low                                                     0
Sea Level Press. (hPa) high                                          0
Sea Level Press. (hPa) avg                                           0
Sea Level Press. (hPa) low                                           0
Visibility (km) high                                                 0
Visibility (km) avg                                                  0
Visibility (km) low                                                  0
Wind (km/h) low                                                      0
Wind (km/h) avg                                                      0
Wind (km/h) high                                                     0
Precip. (mm) sum                                                     0
WeatherEvent                                                         0
Year-Month                                                           0
ProductCategory                                                      0
Sales(In ThousandDollars)                                            0
dtype: int64

In [92]:
merged_df.to_csv('../data/clean_data/merged_df.csv')